body{
    background-color: #f8ecdc;
    background-image: url("../assets/img/bg.jpg");
    background-repeat: no-repeat;    
    background-position: 50% 10%;
    background-size: cover;

}

header{
    display: flex;
    justify-content: space-between;
    background-color: #C1AAAA;
    border-bottom: 10px solid #544331;
    padding: 10px 20px;
}

nav{
    text-align: right;
}

a{
    display: inline-flex;
    color: #544331;
    background-color: #CFC6C6;
    border-radius: 90px;
    font-family: "Chilanka", cursive;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none; /* INTERESSANTE PARA USAR DPS */
    margin-right: 30px;
    box-shadow: 3px 3px 0px #000;
    padding: 10px; 
    line-height: 10px;
    height: 10px;
    padding: 10px;
}

#button6{
    background-color: #D4C1C1;
    line-height: 10px;
    height: 10px;
    padding: 20px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0;
}

a:hover{
    background-color: #000;
}

#button6:hover{
    background-color: #000;
}